body {
	background: url(ground.gif);;
	position: relative;
	margin: 0px;
	color: black;
	padding: 0px;
}

h2 {
	margin: 0px;
}

#computerScoreDiv
{
	float: left;
	text-align: center;
}

#playerScoreDiv
{
	float: right;
	text-align: center;
}

#computerScoreDiv,#playerScoreDiv
{
	position: relative;
	top: 450px;
	color: #FFF;
	width: 200px;
	opacity: .8;
	font-size: 150px
}


div#sky {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 200px;
	background: skyblue;
	border-bottom: 1px solid white;	
	z-index: -1000px;
}

div#goal {
	position: absolute;
	left: 50px;
	width: 350px;
	top: 50px;
	height: 150px;
	border-top: 6px solid white;
	border-left: 6px solid white;
	border-right: 6px solid white;
}

div#results {
	display	: none;
	position: absolute;
	top: 5px;
	right: 5px;
	margin-right: 20px;
	background-color: white;
	border: thin solid #000;
	width: 160px;
	padding: 5px; 
}

span.dataLabel {
	font-size: 15px;
	font-weight: bold;
	width: 150px;
	color: #000;
}

span.dataResult {
	font-size: 15px;
	width: 50px;
	color: #000;
	text-align: right;
}

div#shootArea {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}

div#keeper {
	position: absolute;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: -10px;
}

div#ball {
	position: absolute;
	width: 30px;
	z-index: 100px;
	margin-left: auto;
	margin-right: auto;
}

div#rooney {
	position: absolute;
	top: 450px;
	width: 70px;	
}

div#rooneyKick {
	position: absolute;
	top: 450px;
	width: 100px;
}

div#rooneyCelebrate {
	position: absolute;
	top: 400px;	
	width: 100px;
	z-index: 1;
}

img {
	width: 100%;
}

div#penaltySpot {
	position: absolute;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background-color: white;
	height: 50px;
	width: 50px;
	top: 530px;
	border: 2px solid black;
	z-index: -100px;
}

div#goalOutline {
	position: absolute;
	top: 200px;
	height: 200px;
	width: 500px;
	border-left: 8px solid white;
	border-right: 8px solid white;
	border-bottom: 8px solid white;
}

h3 {
	margin: 0px;
	font-size: 25px;
}