body {
	background: url(ground.gif);
	margin: 0px;
	color: green;
	padding: 0px;
}

div#sky {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 200px;
	background: skyblue;
	border-bottom: 1px solid white;	
	z-index: -100px;
}

div#goal {
	position: relative;
	top: 75px;
	height: 120px;
	border-top: 6px solid white;
	width: 100%;
}

div#shootArea {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}

div#keeper {
	position: absolute;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: -10px;
	top: 25px;
}

div#goalPosts {
	left: 50px;
	width: 350px;
	top: 20px;
	height: 225px;
	border-left: 6px solid white;
	border-right: 6px solid white;
}

div#pitch {
	position: relative;
	width: 100%;
	border-top: 3px solid white;
}

div#keepersBox {
	top: 0px;
	height: 150px;
	width: 600px;
	border-left: 6px solid white;
	border-right: 6px solid white;
	border-bottom: 6px solid white;
	margin-left: auto;
	margin-right: auto;
}

div#penaltySpot {
	position: absolute;
	top:500px;
	width: 50px;
	height: 50px;
	background-color: white;
	-moz-border-radius: 25px;
    border-radius: 25px;
    margin-left: 50%;
}

div#ball {
	position: absolute;
	top: 500px;
	width: 50px;
	z-index: 100;
}

img {
	width: 100%;
}

div#rooney {
	position: absolute;
	width: 70px;
	top: 410px;
	left: 300px;
}

div#rooneyKick {
	position: absolute;
	top: 410px;
 	width: 120px;
 	left: 200px;
 	display: none;
}

div#arrowDiv {
	width: 100px;
	position: absolute;
	right: 50px;
	top: 0px;
}

div#arrowDirectionDiv {
	width: 100px;
	position: absolute;
	right: 100px;
	top: 100px;
}

div#rooneyCelebrate {
	width: 250px;
	display: none;
	position: absolute;
}

div#computerScoreDiv
{
    left: 20px;
    text-align: center;
}

div#playerScoreDiv
{
    right: 20px;
    text-align: center;
}

#computerScoreDiv,#playerScoreDiv
{
    position: absolute;
    bottom: 20px;
    color: #FFF;
    width: 200px;
    opacity: .8;
    font-size: 100px;
}

h3 {
    margin: 0px;
    font-size: 25px;
}
