body {
	background-image:url('sky.jpg');
    position: absolute;
	margin: 0px;
	padding: 0px;
	width:100%;
	height: 200px;
	top: 0px;
	left: 0px;
	width: 100%;
}

img {
	width: 100%;
}

div#allien {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 50px;
	z-index:99;
}

div#reggae {
	position: absolute;
	right: 100px;
	top: 200px;
	width: 60px;
	height: 70px;	
	z-index:99;
}

div#rudi{
	position: absolute;
	left: 750px;
	bottom: 0px;
	width: 100px;
	height: 50px;
	z-index:99;
}

div#bone {
	position: absolute;
	width: 50px;
}

div#ibm {
	position: absolute;
	margin-top: 50px;
	width: 100%;
	text-align: center;
	color: navy;
	font-size: 120px;
	font-family: Tahoma;
}

#playerScoreDiv
{
	position: absolute;
	right: 0px;
	text-align: center;
	top: 20px;
	color: #FFF;
	opacity: .8;
	font-size: 150px
}

h3 {
	font-variant:small-caps;
	margin: 0px;
	font-size: 25px;
}

#titleScreen {
	position: relative;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #fff;
	padding: 15px;	
	width: 400px;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	webkit-border-radius: 10px;
	moz-border-radius: 10px;
	background: rgba(0,0,0,.5);
  	display: block;
  	-webkit-transition: opacity 1s ease-out;
  	opacity: 0;
  	overflow: hidden;
}

#titleScreen.active {
  opacity: 1;
  height: auto;
}

